#container {
    width: 960px;
    min-height: 960px;
    background-color: white;
    position: relative;
    /*margin: 0 auto;*/
    padding: 20px;

}

#htmlcontainer {
    width: 960px;
    min-height: 960px;
    position: absolute;
    /*margin: 0 auto;*/
    z-index: 999;
    /*background-color: lightgray;*/
    border: 0;
    padding: 20px;
}

div:focus{
    outline:none;
}

html, body {
    height: 100%;
    font-size: 15px;
}

html, body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}